body {
  background-color: rgb(238, 238, 238);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 200px;
  position: relative;
  margin-top: 3em;
}

.gameBoard:hover {
  background-color: rgba(213, 213, 213, 0.55) 
}

main {
  max-width: 700px;
  margin: auto;
}

.leftColumn {
  border-right: 1em solid rgb(105, 25, 174);
}

.centerColumn {
  border-right: 1em solid rgb(105, 25, 174);
}

.topRow {
  border-bottom: 1em solid rgb(105, 25, 174);
}

.centerRow {
  border-bottom: 1em solid rgb(105, 25, 174);
}

h1 {
  font-family: 'Baloo Tammudu', cursive;
  font-size: 5.5vw;
}

header {
  text-align: center;
}


/* Play Again button styles */

.btn{
  width: 135px;
  height: 40px;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 500;  
  padding-bottom: 3px;
  color: white;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, rgb(77, 19, 200),  rgb(130, 77, 10),rgb(77, 19, 200));
}

.btn:hover{
  background-position: 100% 0;
}

